.welcome {
  grid-area: welcome;
}

.oval-container {
  background-color: #FFFBED;
  position: relative;
  width: 100%;
}

.oval {
  position: absolute;
  width: 600px;
  height: 300px;
  border-radius: 50%;
  background-color: #3498db;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlap-1 {
  background-color: #992800;
  width: 60%;
  height: 70%;
}

.overlap-2 {
  background-color: #D2400B;
  width: 50%;
  height: 75%;
  top: 47.5%;
  left: 39%;
}

.overlap-3 {
  background-color: #FFAF00;
  width: 80%;
  height: 90%;
}

.selection-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  align-items: center;
}

.selection-box-text {
  color: #FFFBED;
  font-size: 2rem;
}