.App {
  text-align: center;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'welcome-container' 'all-questions-cards'
    'footer';
  grid-gap: 1em;
}