.coctails-selection-box {
  height: 80%;
}

.cocktail-cards {
  height: 80%;
  width: 400px;
  overflow-y: auto;
  margin-left: 5%;
  font-family: rubik;
}

.cocktail-cards::-webkit-scrollbar {
  width: 12px;
}

.cocktail-cards::-webkit-scrollbar-thumb {
  background-color: #D2400B;
  border-radius: 10px;
  height: 60px;
}

.cocktail-cards::-webkit-scrollbar-track {
  background-color: #fffbed06;
}

.cocktail-error-message {
  color: #FFFBED;
  font-size: 1.5rem;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.oval-container {
  background-color: none;
}

.cocktail-card {
  text-align: left;
  border: 15px solid #3C7F72;
  background-color: #FFFBED;
  border-radius: 10px;
  margin: 15px;
  min-height: 10%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cocktail-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 90%;
  font-size: .80rem;
}

.cocktail-card h2 {
  border-radius: calc(15px - 10px);
  margin: 15px 10px 15px 15px;
}

.cocktail-img {
  height: 7vh;
}

.recipe {
  text-align: center;
  margin: 0 10px 
}

ul {
  list-style-type: none;
  padding: 0;
}

.current-cocktail-message-form {
  color: #FFFBED;
  margin-bottom: 20px;
}

@media screen and (max-width: 1235px) {
  .cocktail-cards {
    margin-left: 0px;
    height: 60%;
    width: 70%;
  }
}

@media screen and (max-width: 740px) {
  .cocktail-cards {
    height: 50%;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .cocktail-cards {
    height: 35%;
    width: 100%;
  }

  .cocktail-card {
    align-items: center;
  }

  .cocktail-info {
    flex-direction: column;
    text-align: center;
    margin: 5px;
  }

  .cocktail-card h2 {
    margin: 5px;
  }
}

@media screen and (max-width: 425px) {
  .cocktail-cards {
    height: 30%;
  }

  .cocktail-info {
    font-size: .65rem;
  }
  
  .recipe {
    font-size: .75rem;
  }
}

@media screen and (max-width: 350px) {
  .recipe {
    font-size: .55rem;
  }
}