.coctails-selection-box {
  height: 80%;
}

.cocktail-cards {
  height: 100%;
  width: 400px;
  overflow: auto;
  margin-left: 5%;
  font-family: rubik;
}

.cocktail-cards::-webkit-scrollbar {
  display: none;
}

.cocktail-card {
  text-align: left;
  border: 15px solid #3C7F72;
  background-color: #FFFBED;
  border-radius: 10px;
  margin: 15px;
  min-height: 15%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cocktail-info {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.cocktail-card h2 {
  border-radius: calc(15px - 10px);
  margin: 15px 10px 15px 15px;
}

.cocktail-img {
  height: 90px;
}

.recipe {
  text-align: center;
  margin: 0 10px 
}

ul {
  list-style-type: none;
  padding: 0;
}