.header {
  grid-area: header;
  border: 2px solid black;
  background-color: #D2400B;
  height: 100%;
  font-family: monoton;
  font-size: 2rem;
  color: #3C7F72;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  margin: 0;
}

.home-link,
.explore-link {
  font-family: rubik;
  font-size: 1.5rem;
  color: #FFFBED;
  text-decoration: none;
}
.active {
  text-decoration: underline #FFAF00;
  text-decoration-thickness: 4px;
}

.header-links-container {
  width: 25%;
  display: flex;
  justify-content: space-between;
  
}