.footer {
  border: 2px solid black;
  background-color: #FFFBED;
  height: 100%;

}

.teal-stripe,
.red-stripe,
.orange-stripe,
.yellow-stripe {
  height: 30px;
  margin-top: 10px;
}

.teal-stripe {
  background-color: #3C7F72;
}

.red-stripe {
  background-color: #992800;
}

.orange-stripe {
  background-color: #D96E30;
}

.yellow-stripe {
  background-color: #FFAF00;
}

