.footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #FFFBED;
}

.teal-stripe,
.red-stripe,
.orange-stripe,
.yellow-stripe {
  height: 20%;
  margin-top: 0.75%;
}

.teal-stripe {
  background-color: #3C7F72;
}

.red-stripe {
  background-color: #992800;
}

.orange-stripe {
  background-color: #D96E30;
}

.yellow-stripe {
  background-color: #FFAF00;
}